.dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.dashboard-main {
    display: flex;
    flex: 1;
}

/* Estilo do Aside */
.dashboard-aside {
    width: 250px;
    /* Largura da barra lateral */
    background-color: #1976d2;
    /* Cor de fundo */
    color: #ecf0f1;
    /* Cor do texto */
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.dashboard-aside nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dashboard-aside nav ul li {
    margin-bottom: 15px;
}

.dashboard-aside nav ul li a {
    text-decoration: none;
    color: #ecf0f1;
    font-weight: bold;
    transition: color 0.3s;
}

.dashboard-aside nav ul li a:hover {
    color: #1abc9c;
    /* Cor ao passar o mouse */
}

/* Estilo do Conteúdo */
.dashboard-content {
    flex: 1;
    padding: 20px;
    background-color: #E8F5E9;
    overflow-y: auto;
}

.dashboard-footer {
    background-color: #1976d2;
    /* Cor de fundo */
    color: #ecf0f1;
    /* Cor do texto */
    text-align: center;
    /* Centraliza o texto */
    padding: 15px;
    /* Espaçamento interno */
    position: relative;
    /* Define o rodapé fixo na parte inferior */
    width: 100%;
    /* Garante que o rodapé ocupe toda a largura */
}

.dashboard-footer p {
    margin: 0;
    /* Remove margens padrão */
    font-size: 0.9rem;
    /* Tamanho do texto */
}

.dashboard-aside {
    margin-right: 10px;
}

.dashboard-main {
    margin-bottom: 10px;
    margin-top: 10px;
    /* margin-right: 10px; */
}

.active{
    cursor: pointer;
    text-decoration: none;
  color: inherit;
  font-family: monospace;
  font-weight: 700;
  font-size: 1rem;
  transition: color 0.3s, text-shadow 0.3s
}
.active:hover {
    color: #1abc9c;
  }

@media (max-width: 900px) {
    .dashboard-aside {
        display: none;
    }

    .dashboard-aside.open {
        left: 0;
    }

    .dashboard-main {
        position: relative;
    }

    .dashboard-footer p {
        font-size: 0.6rem;
    }
}

@media(max-width: 600px) {
    .dashboard-footer p {
        font-size: 0.4rem;
    }
}